# Dependencies
node_modules/

# Expo & Metro
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# Native build folders
ios/
android/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# MacOS
.DS_Store
*.pem

# Local env overrides
.env
.env.local
.env.*.local
.env*.local

# Typescript & Assets
*.tsbuildinfo
app-example
assets/images/trash/

# Disabled template files
+html.tsx.disabled

# Firebase caches, states, emulator logs
.firebase/
.runtimeconfig.json
*-debug.log
*-debug.*.log
